@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,600&display=swap');

body {
    background-color: #f0efeb;
    font-family: 'Open Sans', sans-serif;
    color: #b5838d;
    /* line-height: 1px; */
    text-align: center;
}

h1 {
  line-height: 0.3;
}

h3{
 font-weight: 700;
 color: #6d6875;
}

p {
  color: #6d6875;
  font-size: 15px;
  font-weight: 300;
      margin-bottom: 30px;
}

a {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  color: white;
}

a:hover{
  background-color: grey;
}

.btn-pink {
    /* color: #F6BEAF; */
    border: 2px solid;
    background-color: #F6BEAF;
    padding: 10px;
    border-radius: 5px;
}

.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card-white {
    background-color: white;
    border: 1px solid white;
    margin: 16px 0px;
    padding: 32px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 3px lightgrey;
}

#footer {
  height: 100px;
}

.img-circle {
  border-radius: 50%;
}

li {
  display: inline-block;
  padding: 0px 20px;
}

i {
  font-size: 30px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  color: lightgrey;
  height: 200px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
