@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/*--------------------layout------------------------------*/

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

p {
  font-size: 16px;

}

h1 {
  font-size: 46px;
  font-weight: 300;
}

h2 {
  font-size: 28px;
}

/*h3 {
  font-size: 24px;
  font-weight: 300;
}*/

/*---------------------------top-page--------------------------------*/

.presentation {
  background-color: #F09080;
  color: #ffffff;
  padding: 40px 150px;
}

.topbar {
  background-color: #F09080;
  color: #ffffff;
  padding-bottom: 80px;
  text-align: center;
  padding-top: 40px;
}

.info {
  text-align: end;
  align-self: center;
}

.info p {
  font-size: 64px;
}

.text {
  align-self: center;
  text-align: justify;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
}

/*---------------Work---------------------------*/
.main-content {
  margin: 100px 60px;
  text-align: center;
  color: #3e3c3c;
}

.project-card {
  max-width: 600px;
  min-width: 300px;
  position: relative;
  box-shadow: 0 16px 64px 0 rgb(0 0 0 / 12%), 0 0 0 1px rgb(0 0 0 / 1%);
}

.project-card img {
 width: 100%;
 height: 100%;
}

.project-card .content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 32px;
}

#easycare {
  margin-bottom: 80px;
}

#easycare:hover .content-overlay {
    background: #AFC3FA;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

#apparat:hover .content-overlay {
    background: #6F2023;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 180px;
}

/*--------------contact-------------*/

.icons {
  display: flex;
  justify-content: space-around;
  padding: 0px 100px;
}

.icons a {
  color: #ffffff;
  opacity: 0.7;
}

.icons a:hover {
  opacity: 1;
}

#footer {
  background-color: #ffd5c2;
  padding: 32px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
}

#footer h2 {
  font-weight: 600;
}

.contact {
  margin-top: 50px;
}

/*-------------responsiveness---------------*/

@media(max-width: 768px) {
  .presentation {
    padding: 40px 80px;
  }
  .about {
    display: block;
  }
  .info {
    text-align: start;
  }
  .info p {
    font-size: 32px;
  }
  .icons {
    padding: 0 50px;
  }
}

@media(min-width: 1200px) {
  .icons {
    padding: 0 300px;
  }
  .presentation {
    padding: 40px 280px;
  }
}


