@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;600&display=swap');

body {
  background: linear-gradient(#16222a, #3a6073);
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  margin: 0;
}


/*---------------Header-------------------*/
#top {
  margin-top: 60px;
  margin-bottom: 80px;
}

h1 {
  font-weight: 600;
  font-size: 80px;
  color: #caf37c;
}

#lastname {
  color: white;
}

#description h2 {
  font-size: 32px;
}

/*----------timeline----------------------*/

// {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}

.timeline-container {
   width: 80%;
   padding: 50px 0;
   margin: 50px auto;
   position: relative;
   overflow: hidden;
}
.timeline-container:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 1px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1
}

.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 1px solid #F5F7FA;
   margin-top: 10px;
   z-index: 9999;
   background: #F5F7FA;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: white;
  margin-bottom: 50px;
  text-align: start;
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 16px;
   font-size: 25px;
   color: #caf37c;
}

.timeline-content h4 {
  color: white;
  font-size: 16px;
}

.timeline-content span {
   font-size: 20px;
   color: white;
   margin-bottom: 16px;
}

.timeline-content p {
   font-size: 16px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: white;
   text-align: justify;
   font-weight: 400;
}

/*----------projects---------------*/

#apparat {
  margin-left: -20px;
}

#ruby, #js, #html, #css, #bootstrap, #rails, #postgre, #git, #github, #heroku {
  margin-right: 8px;
  text-align: center;
  background-color: #16222a85;
  padding: 8px 18px;
  width: max-content;
  border-radius: 4px;
}

.image {
  max-width: 480px;
  object-fit: cover;
}

#easycare img {
  object-fit: cover;
  width: 100%;
  box-shadow: 0 0 15px rgb(0 0 0 / 46%);
  background-image: linear-gradient(
65deg
,rgba(16,9,27,.8),transparent 50%);
}

#apparat img {
  object-fit: cover;
  width: 100%;
  box-shadow: 0 0 15px rgb(0 0 0 / 46%);
}

.card-project {
  margin-top: 12px;
}

#bootcamp-1, #bootcamp-2 {
  color: white;
  font-size: 14px;
  background-color: #e05615;
  border-radius: 2px;
  margin-left: 8px;
  padding: 2px 5px;
}

/*----------------contact me------------*/

.footer-links a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.footer-links a:hover {
  opacity: 1;
}

#back, #front, #techno {
  margin-top: 24px;
}

/*-------------skilss-------------------*/
.card-skills {
  display: flex;
  margin-top: 8px;
}

/*----------------------------------------*/

/*.main-content {
  margin-top: 60px;
  margin-left: 116px;
  margin-right: 116px;
}

#top {
  margin-top: 32px;
  margin-bottom: 70px;
}

#main {
  padding-top: 24px;
  position: relative;
}

.vl {
  width: 1px;
  background-color: black;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
}

#lastname {
  color: white;
}

h1 {
  font-weight: 600;
  font-size: 80px;
  padding-bottom: 32px;
  color: orange;
}

h2 {
  margin-bottom: 40px;
}

.intro {
  display: flex;
  justify-content: space-around;
  background-color: #1E2132;
  padding-top: 24px;
}

h3 {
  font-size: 32px;
  color: white;
}

#description {
  text-align: end;
}

#description p {
  font-size: 24px;
  font-weight: 100;
  color: white;
  text-align: end;
}*/

/*.navbar-lewagon {
  justify-content: flex-end;
  padding-right: 150px;
  background-color: #1E2132;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-expand-sm .navbar-nav .nav-link {
  color: white;
  font-weight: 100;
}

.navbar-expand-sm .navbar-nav .nav-link:hover {
  font-weight: 400;
}*/

/*#expertise {
  margin-bottom: 80px;
  margin-left: 24px;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#ruby, #js, #html, #css, #bootstrap, #rails, #postgre, #git, #github, #heroku {
  margin-bottom: 12px;
  text-align: center;
  background-color: #2C2F46;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
}

.card-skills {
  display: flex;
  flex-direction: column;
  max-width: 132px;
}

.projects {
  margin-bottom: 70px;
  margin-left: 24px;
}

.card-project {
  overflow: hidden;
  margin-bottom: 80px;
}

#card-title-1 span {
  font-size: 16px;
  color: orange;
}

#card-title-2 span {
  font-size: 16px;
  color: orange;
}*/

/*#easycare .card-title {
  color: orange;
  position: absolute;
  top: 108px;
  left: 349px;
  left: 364px z-index: 1;
  z-index: 1;
}*/

/*#apparat {
  display: flex;
  justify-content: flex-end;
}*/

/*.image {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;
}*/
/*#works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 46px;
} p {
  font-size: 16px;
  margin-top: 16px;
  text-align: justify;
  font-weight: 100;
}*/

/*#about {
  margin-bottom: 80px;
  margin-left: 24px;
}*/

/*------------responsiveness ------------------------------*/

@media screen and (max-width: 768px) {
   .timeline-container:before {
      left: 8px;
      width: 2px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .timeline-block-right {
      float: none;
   }
   .timeline-block-left {
      float: none;
      direction: ltr;
   }
}

