@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;600&display=swap');

body {
  background: linear-gradient(#16222a, #3a6073);
  font-family: 'IBM Plex Sans', sans-serif;
  color: #F5F7FA;
  margin: 0;
}

/*---------------Header-------------------*/
#top {
  margin-top: 60px;
  margin-bottom: 80px;
}

h1 {
  font-weight: 600;
  font-size: 80px;
  color: #caf37c;
}

#lastname {
  color: #F5F7FA;
}

#description h2 {
  font-size: 32px;
}

/*----------timeline----------------------*/

// {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}

.timeline-container {
   width: 80%;
   padding-top: 40px;
   margin: 50px auto;
   position: relative;
   overflow: hidden;
}
.timeline-container:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 1px;
   height: 100%;
   background: #F5F7FA;
   z-index: 1
}

.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 1px solid #F5F7FA;
   margin-top: 10px;
   z-index: 9999;
   background: #F5F7FA;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #F5F7FA;
  margin-bottom: 40px;
  text-align: start;
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 16px;
   font-size: 25px;
   color: #caf37c;
}

.timeline-content h4 {
  color: #F5F7FA;
  font-size: 16px;
}

.timeline-content span {
   font-size: 20px;
   color: #F5F7FA;
   margin-bottom: 16px;
}

.timeline-content p {
   font-size: 16px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #F5F7FA;
   text-align: justify;
   font-weight: 400;
}

/*----------projects---------------*/

#ruby, #js, #html, #css, #bootstrap, #rails, #postgre, #git, #github, #heroku {
  margin-right: 8px;
  text-align: center;
  background-color: #1a282f94;
  padding: 8px 18px;
  width: max-content;
  border-radius: 4px;
}

#marker-hidden {
  visibility: hidden;
}

.image {
  max-width: 480px;
  object-fit: cover;
  position: relative;
}

.image .content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  background-color: #7548258f;
  justify-content: center;
  align-items: center;
}

.image .content-overlay p {
  font-weight: 400;
  font-size: 20px;
}

#easycare:hover .content-overlay {
    background: #4b7cc187;
    opacity: 1;
    transition: opacity 0.3s ease;
}

#apparat:hover .content-overlay {
    background: #75482599;
    opacity: 1;
    transition: opacity 0.3s ease;
}

#easycare img {
  width: 100%;
  box-shadow: 0 0 15px rgb(0 0 0 / 46%);
  border-radius: 3px;
}

#apparat img {
  position: relative;
  width: 100%;
  box-shadow: 0 0 15px rgb(0 0 0 / 46%);
  border-radius: 3px;
}

.card-project {
  margin-top: 12px;
}

#bootcamp-1, #bootcamp-2 {
  color: #F5F7FA;
  font-size: 14px;
  background-color: #e05615;
  border-radius: 2px;
  margin-left: 8px;
  padding: 2px 5px;
}

/*----------------contact me------------*/

.footer-links a {
  color: #F5F7FA;
  opacity: 0.7;
  text-decoration: none;
  font-size: 24px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.footer-links a:hover {
  opacity: 1;
}

#back, #front, #techno {
  margin-top: 24px;
}

/*-------------skilss-------------------*/
.card-skills {
  display: flex;
  margin-top: 8px;
}

/*------------responsiveness ------------------------------*/

@media screen and (max-width: 768px) {
   .timeline-container:before {
      left: 8px;
      width: 2px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .timeline-block-right {
      float: none;
   }
   .timeline-block-left {
      float: none;
      direction: ltr;
   }
}

