@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;600&display=swap');

body {
  background-color: #1E2132;
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
}

.main-content {
  margin-left: 116px;
  margin-right: 116px;
}

#top {
  margin-top: 32px;
  margin-bottom: 70px;
}

#main {
  padding-top: 24px;
}

#lastname {
  color: white;
}

h1 {
  font-weight: 600;
  font-size: 80px;
  padding-bottom: 32px;
  color: orange;
}

h2 {
  margin-bottom: 40px;
}

.intro {
  display: flex;
  justify-content: space-around;
  background-color: #1E2132;
  padding-top: 24px;
}

h3 {
  font-size: 32px;
  color: white;
}

#description {
  text-align: end;
}

#description p {
  font-size: 24px;
  font-weight: 100;
  color: white;
  text-align: end;
}

.navbar-lewagon {
  justify-content: flex-end;
  padding-right: 150px;
  background-color: #1E2132;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-expand-sm .navbar-nav .nav-link {
  color: white;
  font-weight: 100;
}

.navbar-expand-sm .navbar-nav .nav-link:hover {
  font-weight: 400;
}

#expertise {
  margin-bottom: 80px;
}

#expertise span {
    padding: 8px 22px;
    background-color: #2c2f46;
    font-weight: 100;
  }

.skills {
  display: flex;
}

#ruby, #js, #html, #css, #bootstrap, #rails, #postgre, #git, #github, #heroku {
  margin-right: 8px;
  margin-bottom: 12px;
}

.card-skills {
  display: flex;
  flex-wrap: wrap;
}

.projects {
  margin-bottom: 70px;
}

.card-project {
  overflow: hidden;
}

#card-title-1 span {
  font-size: 16px;
  color: orange;
}

#card-title-2 span {
  font-size: 16px;
  color: orange;
}

.card-project img {
  object-fit: cover;
  width: 100%;
}

.image {
  margin-top: 16px;
}

#works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 46px;
} p {
  font-size: 16px;
  margin-top: 16px;
  text-align: justify;
  font-weight: 100;
}

#about {
  margin-bottom: 80px;
}

/*.image-easycare:after {
    content: 'Save time and lives" is the aim of easycare, a web application that makes administrative work easier for midwives.';
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background: #2c2f46cc;
    opacity: 0;
    transition: all 0.27s;
   /* transition: opacity 0.5s ease;
    /*-webkit-transition: all 1s;*/

}

/*.image-easycare:hover:after {
    opacity: 1;
}*/

#works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 46px;
} p {
  font-size: 16px;
  margin-top: 16px;
  text-align: justify;
  font-weight: 100;
}

/*----------------footer-------------*/
.footer {
  background: #51566A;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 160px;
  color: white;
}

.footer p {
  color: white;
}

.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

/*------------responsiveness ------------------------------*/

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
